# DATABASE (PostgreSQL)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=healthit_db

# backend inside of docker (postgres instead of localhost)
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}?schema=public"

# MINIO
MINIO_ROOT_USER=admin
MINIO_ROOT_PASSWORD=supersecretpassword

# Settings
MINIO_ENDPOINT=minio
MINIO_PORT=9000
MINIO_USE_SSL=false

# Public URL for images
MINIO_PUBLIC_URL=http://localhost:9000

# Bucket names
S3_BUCKET_PLANTS=plants
S3_BUCKET_RECIPES=recipes
S3_BUCKET_SPECIES=species

# RABBITMQ Monolith
RABBITMQ_URL_MONOLITH=amqp://user:password@rabbitmq:5672

# BACKEND PORT
MONOLITH_PORT=1000