# System
.DS_Store
.idea/
.vscode/
# Modules
node_modules
# Confidential
*.env
.env
# Prisma
backend/main/prisma/migrations/
backend/main/src/generated/prisma
# Publish React
dist/
# Firebase
google-services.json
