# System
.DS_Store
.idea/
.vscode/
# Modules
node_modules
# Confidential
*.env
.env
# Prisma
backend/main/prisma/migrations/
backend/main/src/generated/prisma
# Services
go.sum
# Firebase
google-services.json
firebase-credentials.json
# Mosquitto
password.txtinfrastructure/mosquitto/data/mosquitto.db
